**/tokens
**/node_modules
resources/**/*.webp
resources/**/*.png
**/.gitkeep
**/.env*
server/lib.db
**/*.test.ts
**/*.test.tsx
**/test
**/.nyc_output
**/.eslintcache
**/build
server/public
**/tsconfig.tsbuildinfo

Dockerfile
**/.eslint*
README.md
.dockerignore
.gitignore
.prettierrc
.git
.github
.vscode